body {
    margin: 0;
}

/* ----- GLOBAL STYLES ----- */
section h2 {
    margin: 0 auto;
    margin-top: 89px;
    margin-bottom: 13px;
    text-align: center;
}

/* ----- HEADER SECTION ----- */

header.page-header {
    width: 100%;
    margin: 32px 0;
    display: flex;
    justify-content: center;
}

header nav {
    width: 1098px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    width: 466px;
    height: 34px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* header nav ul li {
} */

header nav ul li a{
    width: 144px;
    height: 34px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

header nav .logo {
    width: 58px;
    height: 58px;
}

header nav img {
    width: 100%;
}


/* ----- MAIN SECTION ----- */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* PRESENTATION CARD */
main .presentation-card{
    width: 1000px;
    margin: auto;
    margin-bottom: 55px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 610px;
    grid-template-areas: "card";
}

main .presentation-card .frame,
main .presentation-card .symbol,
main .presentation-card .name{
    grid-area: card;
    justify-self: center;
    align-self: center;
}

/* INFORMATION SECTION */
section.services {
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(180deg, white, rgba(255, 255, 255, 0.34) 60%, white), url(../media/images/nudo.png);
    background-repeat: repeat;
    background-position: 50% 0;
}

/* .services h2 {
    margin: 0 auto;
    margin-top: 89px;
    margin-bottom: 13px;
    text-align: center;
} */

.services .container {
    width: 1000px;
    height: 652px;
    margin: 0 auto;
    background-color: rgba(77, 74, 74, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service {
    width: 832px;
    height: 198px;
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}

.service .description,
.service .image {
    width: 382px;
    height: 198px;
    background-color: rgba(196, 196, 196, 0.8);
    overflow: hidden;
    /* border: 1px solid red; */
}

.service .image img{
    width: 100%;
    position: relative;
}

.classes img {
    top: -150px;
}

.news img {
    top: -50px;
}


/* ----- STAFF SECTION ----- */
section.staff {
    width: 1000px;
    height: 382px;
    margin: 0 auto;
    background-color: rgb(108, 110, 110);
}


.staff .container {
    width: 906px;
    height: 236px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.staff .staff-member {
    width: 236px;
    height: 236px;
    overflow: hidden;
    display: grid;
    grid-template: 100% / 100%;
    grid-template-areas: "staff-member";
}

.staff .description {
    color: white;
    text-align: center;
    z-index: 5;
    grid-area: staff-member;
}

.staff img {
    width: 100%;
    grid-area: staff-member;
}

.leader img {
    width: auto;
    height: 100%;
    position: relative;
    left: -50px;
}

/* ----- SUBSCRIBE SECTION ----- */

section.subscribe {
    width: 1000px;
    height: 382px;
    margin: 0 auto;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../media/images/nudo.png);
    background-position: 50% 0;
    background-repeat: repeat;
}

.subscribe p {
    text-align: center;
}

.subscribe form {
    width: 445px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 42px 42px;
    grid-template-areas: "label input" "submit submit";
    grid-gap: 10px 10px;
}

.subscribe form label {
    grid-area: label;
    /* justify-self: right; */
    align-items: center;
    /* text-align: right; */
    width: 71px;
    height: 38px;
}

.subscribe form input {
    grid-area: input;
    justify-self: center;
    width: 349px;
    height: 38px;
    border-radius: 25px;
}

.subscribe form #submit {
    grid-area: submit;
    width: 147px;
    height: 41px;
    border-radius: 11px;
}