body {
    margin: 0;
}

/* ----- HEADER SECTION ----- */

header {
    width: 100%;
    margin: 32px 0;
    display: flex;
    justify-content: center;
}

header nav {
    width: 1098px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    width: 466px;
    height: 34px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* header nav ul li {
} */

header nav ul li a{
    width: 144px;
    height: 34px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

header nav .logo {
    width: 58px;
    height: 58px;
}

header nav img {
    width: 100%;
}


/* ----- MAIN SECTION ----- */
main{
    width: 100%;
    display: flex;
    justify-content: center;
}

main .presentation-card{
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 610px;
}

main .presentation-card .frame,
main .presentation-card .symbol,
main .presentation-card .name{
    grid-area: 1 / 1 / span 1 / span 1;
    justify-self: center;
    align-self: center;
}